@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #c6c6c6;
}

.inputContainer {
  text-align: left;
}
.card_title {
  margin-bottom: 30px;
}

label {
  margin-top: 0.5rem;
}
form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 10px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}
form button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 15px;
}

.signUpButton {
  text-decoration: underline;
  margin-top: 20px;
}

.button {
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  margin: auto;
  display: fl;
}

.singInButton,
.singInUp {
  display: flex;
}
form button:hover,
form button:active,
form button:focus {
  background: #43a047;
}
form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
form .message a {
  color: #4caf50;
  text-decoration: none;
}
form .register-form {
  display: none;
}

.container:before,
.container:after {
  content: '';
  display: block;
  clear: both;
}

body {
  background-color: #e2dede;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error,
.required {
  color: red;
}

.errorMes,
.error {
  color: #f13a3a;
  font-weight: 700;
}

.input-error-border {
  border: 1px solid #c51244 !important;
}

@media only screen and (max-width: 600px) {
  form {
    width: 300px;
    margin-top: 1vh;
  }
}
